
<div class="container-fluid py-5 hero">
  <div class="row">

    {{!-- Heading Column --}}
    <div class="col-12">
      <h2 class="forge-heading">
        Create Your Ideal PC:
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
     
    </div>
  </div>
  
</div>