      <div class="container-fluid hero">
        <div class="row m-0">
          <div class="hero-content">
            <h1 class="hero-heading mb-4">
              From Concept to Creation: Your Ideal PC Awaits 
            </h1>

            <div class="hero-buttons-area">
              <a class="btn btn-block" id="landing-page-login-btn" href="/login">Login</a>
              <a class="btn btn-block" id="forge-btn" href="/forge">Forge PC</a>
            </div>
          </div>
        </div>
      </div>