      <div class="container-fluid hero">
        <div class="row m-0">
          <div class="hero-content">
            <h1 class="hero-heading mb-4">
              From Concept to Creation: Your Ideal PC Awaits 
            </h1>

            <div class="hero-buttons-area">
              <button type="button" class="btn btn-block login-btn">Login</button>
              <button type="button" class="btn btn-block forge-btn">Forge PC</button>
            </div>
          </div>
        </div>
      </div>