
  <div class="container-fluid centered-div hero">
    <div class="row justify-content-between">
      <div class="login-form-border">
        <h2 class="login-header">Login</h2>
        <hr class="styled-hr">
        <form class="form login-form p-0">
          <div class="form-group">
            <label for="email-login">Email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn mt-4" id="login-btn" type="submit">Login</button>
          </div>
        </form>
      </div>
      <div class="login-form-border">
        <h2 class="signup-header">Sign Up</h2>
        <hr class="styled-hr">
        <form class="form signup-form p-0">
          <div class="form-group">
            <label for="name-signup">Name:</label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group">
            <label for="email-signup">Email:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="form-group">
            <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn mt-4" id="signup-btn" type="submit">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/login.js"></script>

