
/* Quantum Rig Color Palette */
:root {
  --dark-purple : hsla( 225, 100%, 20%, 1 );
  --light-blue : hsla( 189, 67%, 80%, 1 );
  --blue : hsla( 192, 85%, 59%, 1);
  --red : hsla( 336, 98%, 55%, 1 );
  --dark-blue : hsla( 214, 95%, 41%, 1 );
  --pink : hsla( 313, 99%, 48%, 1 );
}

.hero {
  background: url( "../img/quantum-rig-bg.svg" );
  height: 500px;
  background-size: cover;
  background-position: 60% 0%;
  background-repeat: no-repeat;
  padding-top: 75px;
}

.hero-content {
  background-color: hsla( 0, 0%, 0%, 0.75 );
  border-radius: 10px;
  max-width: 290px;
  padding: 1.5rem;
}

.hero-heading {
  font-size: 35px;
  font-weight: 700;
  color: var( --blue );
}

.login-btn {
  background-color: transparent;
  border: 2px solid var( --red );
  color: var( --light-blue );
}

.login-btn:hover {
  background-color: var( --red );
}

.forge-btn {
  background-color: var( --red );
  color: var( --light-blue );
}

.forge-btn:hover {
  background-color: hsla( 336, 98%, 35%, 1 );
}

.footer {
  padding: 2rem;
}

/* Color Utility Classes */
.bg-purple-pink-gradient {
  background: linear-gradient(
    90deg,
    var( --dark-purple ) 60%,
    var( --red )
  );
}

/* Media Queries: Breakpoints */
@media screen and ( min-width: 992px ) {
  .hero {
    height: 750px;
    padding: 8rem 4rem 4rem 4rem ;
  }

  .hero-content {
    max-width: 400px;
    padding: 2rem;
  }

  .hero-heading {
    font-size: 50px;
  }
}